body {
    font-family: roboto, Arial, monospace;
    margin: 0;
}

/* header */

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 15px 100px 0px;
    min-height: 400px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 500px;
    margin-bottom: 16px;
}

.signup-button {
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.header-image {
    background-color: grey;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content */

.content {
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.content-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 48px;
}

.card {
    border-style: solid;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.card-subtext {
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* quote */

.quote {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 850px;   
    margin-bottom: 16px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
}